body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: rgb(77, 75, 75);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 1.5rem;
    font-weight: bold;
}

#screen {
    font-size: 2rem;
    height: 60px;
    background-color: #e9ecef;
}

.btn {
    font-size: 1.5rem;
    font-weight: bold;
}
